<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Pepeat - Des plats maison cuisinés par des chefs de votre quartier</title>
    <meta name="description" content="Pepeat révolutionne vos repas .. ">

    <link rel="icon" type="image/png" href="/images/logo-browser.png"/>


    <!-- Facebook -->
      <meta property="og:title" content="Pepeat - Mangez frais et équilibré grâce aux chefs de votre quartier!"/>
      <meta property="og:image" content="http://www.pepeat.org/images/facebook.jpg"/>
      <meta property="og:description" content="Tous les jours, des chefs de votre quartier cuisinent de délicieux plats fait maison. Renouez avec votre quartier tout en savourant une cuisine de qualité avec des produits frais."/>
      <meta property="og:site_name" content="Pepeat"/>
    <!-- Facebook -->

    <!-- Twitter -->
      <meta name="twitter:card" content="summary_large_image"/>
      <meta name="twitter:site" content="@Pepeat"/>
      <meta name="twitter:title" content="Pepeat - Mangez frais et équilibré grâce aux chefs de votre quartier!"/>
      <meta name="twitter:description" content="Tous les jours, des chefs de votre quartier cuisinent de délicieux plats fait maison. Renouez avec votre quartier tout en savourant une cuisine de qualité avec des produits frais."/>
      <meta name="twitter:creator" content="@Pepeat"/>
      <meta name="twitter:image:src" content="http://www.pepeat.org/images/facebook.jpg"/>
    <!-- Twitter -->


    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>

    <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>

  </head>

  <body class="<%= page_classes %>">
    <nav class="navbar navbar-default navbar-fixed-top navbar-wagon" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% link_to "/index.html", class: "navbar-brand" do %>
            <%= image_tag 'logo-or.png' %>
          <% end %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


          <ul class="nav navbar-nav navbar-right">
            <li class= "share-button">
              <!-- AddToAny BEGIN -->
              <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
              <a class="a2a_dd" href="https://www.addtoany.com/share_save"></a>
              <a class="a2a_button_facebook"></a>
              <a class="a2a_button_twitter"></a>
              <a class="a2a_button_google_plus"></a>
              </div>
              <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
              <!-- AddToAny END -->
            </li>
            <li>
              <% link_to "#banner" do %>
               Menu
              <% end %>
            </li>
            <li>
              <% link_to "#home" do %>
              Qu'est ce que Pepeat ?
              <% end %>
            </li>
            <li>
              <% link_to "#avantages" do %>
              Pourquoi Pepeat ?
              <% end %>
            </li>
            <li>
              <% link_to "#cuistot" do %>
              Devenez cuisinier Pepeat
              <% end %>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <%= yield %>

    <div class= "footer">
      <div class= "footer-copy text-center">
        <p>Copyright © Pepeat 2015. All Rights Reserved</p>
      </div>
    </div>

  </body>
</html>
